.swipeButtons{
    position: fixed;
    bottom:5vh;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.3) !important;
}
.swipebuttons_repeat{
    padding:1vw !important;
    color: #f5b748 !important;
}
.swipebuttons_close{
    padding:1vw !important;
    color: #ec5e6f !important;
}
.swipebuttons_star{
    padding:1vw !important;
    color: #62b4f9 !important;
}
.swipebuttons_right{
    padding:1vw !important;
    color: #76e2b3 !important;
}
.swipebuttons_lightning{
    padding:1vw !important;
    color: #915dd1 !important;
}
